h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.App-header {
  margin: 30px 0;
}

.App footer {
  margin: 30px 0;
  text-align: center;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

body {
  background: #c7b198;
}

.Dictionary section {
  background: #dfd3c3;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 20px 0;
}

.Dictionary input {
  width: 100%;
  border-radius: 5px;
  padding: 6px 10px;
  color: #444;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  margin-top: 5px;
}

.Dictionary h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
