h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bolder;
  color: white;
  font-family: "Dancing Script", cursive;
}

.App-header {
  margin: 30px 0;
}

.App footer {
  margin: 30px 0;
  font-size: 20px;
  text-align: center;
  color: #f36db7;
  font-weight: bolder;
  box-shadow: inset;
  text-shadow: 0.5px 0.5px 0.5px white;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  color: white;
  font-family: "Kalam", cursive;
}

body {
  background-image: url("desert.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.Dictionary section {
  background: #ff008c;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 20px 0;
  opacity: 0.9;
}

.Dictionary input {
  width: 100%;
  border-radius: 5px;
  padding: 6px 10px;
  color: #444;
  border: 1px solid #ddd;
}

.Dictionary .hint {
  margin-top: 5px;
}

.Dictionary h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
