.Meaning h3 {
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .example {
  font-size: 18px;
  opacity: 0.8;
  font-style: italic;
  margin-bottom: 10px;
  margin-left: 20px;
}

.Meaning .definition {
  font-size: 20px;
}
