.Phonetic .text {
  font-size: 24px;
  opacity: 0.7;
  font-weight: bold;
}

.Phonetic .Player {
  border-radius: 50%;
  opacity: 1;
  text-decoration: none;
  margin-left: 30px;
}

button {
  background-color: #fc289c;
}

.Audio {
  color: white;
  text-decoration: none;
  text-align: center;
}
